<div><h1>Stupid coaching</h1>
<p>Ask your coach anything</p></div>
<div class="form-group">
  <form action="/answer" data-turbo="false">
  <input type="text" class="form-control" name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
</div>
